In [6]:
import csv
import numpy as np
import pandas as pd
import os
data = pd.read_csv('info01.csv')

In [9]:
table = pd.crosstab(index=data['Living_Situation'], columns='Count')
table

col_0                                          Count
Living_Situation
Live with my brother/renting outside campus        1
Live with my parents and commute                  13
On campus                                        124
Own my own house                                   3
Rent out of campus                                21
share an appartment with my significant other      1

In [10]:
cumulative = table.cumsum(axis=None, dtype=None, out=None, skipna=True)

In [11]:
cumulative

col_0                                          Count
Living_Situation
Live with my brother/renting outside campus        1
Live with my parents and commute                  14
On campus                                        138
Own my own house                                 141
Rent out of campus                               162
share an appartment with my significant other    163

In [12]:
data['Living_Situation'].describe()

count           163
unique            6
top       On campus
freq            124
Name: Living_Situation, dtype: object