In [1]:
import csv
import numpy as np
import pandas as pd
import os

In [5]:
data = pd.read_csv('info01.csv')

In [7]:
data.head(10)

,Birth_Year,Weight,Weight_Perception,Height,Height_Perception,Gender,School_Year,Marital_Status,Mother_Education,Mother_Profession,...,Little_Interest,Little_Energy,Feel_Failure,Life_Rewarding,Amusing,Cheerful_Effect,Healthy_Feel,Control_Life,GPA,Sleep_Hours
0,1998,160,Overweight,59,Very short,Female,Freshman,Single,College Degree,social worker,...,Several days,Several days,More than half the days,3.0,3.0,7.0,3.0,2.0,3.40,7
1,1995,160,Very fit,67,Slightly short,Male,Sophomore,In a relationship,High School Degree,Doctors Billing Assiant,...,Never,Several days,Never,9.0,9.0,8.0,9.0,8.0,3.70,8
2,1998,145,Just right,68,Tall,Female,Freshman,In a relationship,High School Degree,Police,...,Several days,More than half the days,Several days,9.0,7.0,7.0,7.0,9.0,4.00,7
3,1998,264,Overweight,60,Slightly short,Male,Freshman,In a relationship,College Degree,Child care provider,...,More than half the days,More than half the days,Nearly every day,9.0,9.0,6.0,9.0,8.0,3.40,8
4,1995,175,Slim,68,Slightly short,Male,Senior,In a relationship,High School Degree,Marketing Analyst,...,Never,Never,Never,5.0,10.0,5.0,3.0,8.0,3.00,7
5,1994,190,Slightly overweight,66,Slightly short,Male,Senior,Single,Graduate Degree,Lawyer,...,Never,Several days,More than half the days,8.0,5.0,7.0,5.0,5.0,3.40,5
6,1995,150,Slightly overweight,69,Tall,Female,Senior,Single,Graduate Degree,program director,...,Never,Several days,Never,4.0,5.0,3.0,4.0,2.0,3.70,7
7,1996,140,Slim,68,Slightly short,Male,Junior,Single,College Degree,Teacher,...,Never,Never,Never,1.0,1.0,1.0,2.0,1.0,3.00,6
8,1994,195,Very fit,76,Tall,Male,Senior,In a relationship,High School Degree,House wife,...,Never,Several days,Several days,7.0,3.0,7.0,8.0,7.0,3.87,8
9,1995,170,Slightly overweight,72,Too tall,Female,Senior,In a relationship,College Degree,Accountant,...,Never,Nearly every day,Several days,1.0,1.0,3.0,9.0,8.0,3.60,9

In [9]:
table = pd.crosstab(index=data['Sleep_Hours'], columns='Count')
table

col_0        Count
Sleep_Hours
5                9
6               28
7               64
8               54
9                8

In [10]:
table1 = pd.crosstab(index=data['Sleep_Hours'], columns=data['Gender'])
table1

Gender       Female  Male
Sleep_Hours
5                 4     5
6                22     6
7                38    26
8                23    31
9                 6     2