In [2]:
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
import csv

In [3]:
data = pd.read_csv ('info01.csv')

In [4]:
data.head(1)

,Birth_Year,Weight,Weight_Perception,Height,Height_Perception,Gender,School_Year,Marital_Status,Mother_Education,Mother_Profession,...,Little_Interest,Little_Energy,Feel_Failure,Life_Rewarding,Amusing,Cheerful_Effect,Healthy_Feel,Control_Life,GPA,Sleep_Hours
0,1998,160,Overweight,59,Very short,Female,Freshman,Single,College Degree,social worker,...,Several days,Several days,More than half the days,3.0,3.0,7.0,3.0,2.0,3.4,7

In [14]:
#we see how many values are in the variable we want to explore 
data['Sleep_Hours'].value_counts()

7    64
8    54
6    28
5     9
9     8
Name: Sleep_Hours, dtype: int64

In [12]:
#since there are 5 values (5, 6, 7, 8, and 9) then the number of bins will be five 
res=stats.relfreq(data['Sleep_Hours'], numbins=5)

In [13]:
#here we see the breakdown of the relative frequency from the smallest to the largest
res.frequency

array([0.05521472, 0.17177914, 0.39263804, 0.33128834, 0.04907975])